* {
    text-align: justify;
    margin: 1%;
}

html {
    border 5px solid yellow;
}

table {
    border: 3px solid black;
    width: 100%;
}

h1 {
    text-align: center;
}

header {
    background-clip: border-box;
}

nav {
    background: #39FF00;
    border-radius: 2px;
    padding: 20px;
    background-clip: border-box;
}

.navi a {
    padding-left: 20px;
}

.subheading {
    padding: 10px;
    text-align: justify;
}


button {
    border: 3px solid black;
    color: white;
}

.bg1 {
    box-sizing: border-box;
    border: 10px yellow;
}

.logo {
    height: 80px;
    position: relative;
}

.footer {
    background-color: #7CFF00 50%;
    background-clip: border-box;
}

.slogan {
    quotes: '"' '"';
}