html, body {
    margin: 0;
    padding:0;
    scroll-behavior: smooth;
    background: yellow;
}
* {
    transition: 0.3s;
}

.ol-type-one {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: black;
    width: 100%;
}
.ol-type-one li {
    display: inline;
    width: 100%;
}
.ol-type-one li a {
    display: inline-block;
    text-decoration: underline;
    flex: 0;
    background-color: yellow;
}
.ol-type-one li a:hover {
    background-color: rgba(0,255, 0, 1);
}
.new-header {
    height: 200px;
    background: yellow /*--old transparent */ /* --oldlinear-gradient(to right, yellow 5%, black);*/;
    width: 100%;
    padding: 0;
    margin: 0;
    border-bottom: 4px;
    display: flex;
    /*offset-x | offset-y* | blur radius | color*/
    box-shadow: 0px 3px 12px black;

}
.header-ol {
  margin: 0;
  padding: 0;
}
.header-ol li {
  display: inline-block;
  padding: 4px;
}
.header-logo img {
  width: 100px;
  height: 100px;
  padding-right: 15px;
  padding-left: 15px;
  float: right;
}
.new-header {
  display: flex;
}
.new-header .language a {
    padding-right: 10px;
    font-size: 15px;
    text-align: right;
    writing-mode: horizontal-th;
    border-block-end: 3px solid;
    float: right;
    text-shadow: 0px 2px 3px black;
    padding: 3px;
}
.header-menu img {
  width: 50px;
  height: 50px;
  transition: 0.2s;
  padding: 15px;
  float: right;
}
.header-menu img:hover {
  transform: rotate(90deg);
}
.header-navegacion {
  position: fixed;
  display: block;
  top: 0px;
  width: 0;
  background-color: rgba(0,0,255,1);
  height: 100%;
  overscroll-behavior-x: 0;
  box-shadow: 0px 3px 12px black;
}
.header-navegacion .header-nav-content {
  display: none;
}
.header-navegacion > body {
  background: black;
}
.header-nav-content a {
  padding: 10px;
  display: block;
  color: white;
  text-align: center;
}
.header-nav-content a:hover {
  background: rgba(200,0,0,1);
  flex: 0;
}
.header-nav-content img {
  width: 50px;
  height: 50px;
  transition: 0.3s;
  padding: 15px;
  float: right;
}
.header-nav-internal {
  display: flex;
  width: 100%;
  background-color: rgba(0,0,200,1);
}
.header-nav-internal div {
  background: rgba(0,255,0,1);
}
section {
    width: 100%;
}
.div-brand-section {
    border: 2px yellow;
}
.div-navigation-bottom {
    left: 5px;
}
.div-navigation-bottom a:before {
    content: "» ";
}
.footer-sections {
    display: flex;
    background: linear-gradient(30deg, yellow 45%, red 90%);
    width: 100%;
    position: static;
}
nav {
    background: linear-gradient(25deg, black 5%, yellow);
    height: 80px;
    width: 100%;
    color: black;
}
nav a {
    flex: 0;
    display: inline-block;
    padding: 10px;
    font-size: 20px;
    text-align: center;
}
.div-navigation-top {
  display: flex;
}
.div-navigation-top ol {
    margin: 0;
    padding: 0;
    display: block;
    list-style-type: none;
    float: left;
}
.div-navigation-top li {
    display: inline;
    background: linear-gradient(25deg, yellow 5%, black);
    border: 1px solid white;
    transition: 0.3s;
}
.div-navigation-top li a {
  font-size: 20px;
  padding: 5px;
  flex: 0;
}
.div-navigation-top li:hover {
  background: linear-gradient(25deg, black 5%, yellow);
}
footer {
  width: 100%;
  background: rgba(0,255,0,1);
}

 .flex {
   display: flex;
   flex: 1 1 auto;
 }
.support {
  padding: 20px;
}
 ol {
    margin: 0;
    padding: 10px;
    list-style-type: none;
 }
 li {
    float: center;
    display: block;
    padding: 3px;
    flex: 0;
  }
  li:hover {
    color: red;
  } 
  
  .flex-right {
    padding-left: 40px;
  }
.footerSectionTwo {
  text-align:center; 
  border-top:2px solid teal; 
  height: 100%; 
  font-family: Sans-Serif; 
  padding: 8px;
}
@font-face {
  font-family: "aAhaWow";
  src: url("./fonts/aAhaWow.otf");
  font-weight: 200;
}
.Sections {
  align-self: center
}
.Sections h2 {
    font-family: aAhaWow;
    text-decoration-color: red;
    text-align: center;
}
.Sections p {
    text-align: center;
    color: black;
    font-size: 15px;
}
.Sections button {
    padding: 8px;
    background-color: rgba(0,255,0,1);
}
